:root,
[data-bs-theme=light],
[data-bs-theme=dark] {
    --bs-border-width: 0;
    --bs-border-radius: 0;
    --bs-border-color: var(--bs-primary);
}

html,
body {
    height: 100%;
}

body {
    background: var(--bs-secondary-bg);
    display: flex;
    flex-direction: column;
}

#app {
    flex-shrink: 0;
}

.content {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

a {
    text-decoration: none;
}

/*Navbar*/
.navbar {
    box-shadow: 1px 2px 15px rgba(var(--bs-primary-rgb), 0.7);
}

.navbar-brand img {
    max-height: 75px;
    max-width: 150px;
}

.navbar .nav-item {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.navbar .nav-link {
    font-weight: 600;
    letter-spacing: 0.03em;
}

/* Home */
.home-btn {
    text-transform: uppercase;
    font-weight: 600;
}

.title-separator {
    height: 0.3rem;
    width: 6rem;
    text-align: center;
    background: var(--bs-primary);
    margin: 1.5rem auto;
    border: 0;
}

/* Footer */
.footer-links li:not(:last-child) {
    margin-bottom: 0.75rem;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
    padding-bottom: 0.75rem;
}
